@import "./include/_checkbox.scss";
@import "./include/_modal.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

