.modal {
  position: fixed;
  top: -1920px;
  z-index: 9;
  color: #fff;
  background: rgba(0, 0, 0, 0.5803921569);
  width: 100%;
  transition: 0.5s all;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 50px;
  height: 100vh;
}
.modal__clouse {
  font-size: 120px;
  border: none;
  position: absolute;
  top: 25px;
  right: 25px;
  background: none;
}
.modal__clouses {
  font-size: 120px;
  border: none;
  position: absolute;
  right: 25px;
  color: white;
  background: none;
  top: 25px;
}

.show {
  top: 0;
}

.show-form {
  left: 0;
}

.condition {
  position: absolute;
  top: 25px;
  right: 25px;
}
.condition__btn {
  border: none;
  background: #fdb44b;
  border: 2px solid #fdb44b;
  color: #fff;
  font-weight: 700;
  padding: 12px 26px;
  transition: 0.5s all;
  border-radius: 12px;
}
.condition__btn:hover {
  color: #fdb44b;
  background: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding: 200px;
}
.form__field {
  width: 100%;
}
.form__field > input {
  padding: 12px;
  border: 2px solid #25a3f7;
  border-radius: 12px;
  outline: none;
  margin-top: 20px;
  width: 100%;
  appearance: none;
}
.form__field > input::-webkit-outer-spin-button, .form__field > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.form__field > input:checked {
  background: #000;
}
.form__field > label {
  position: absolute;
  left: 12px;
  top: 12px;
}
.form > div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.form__btn {
  border: none;
  background: #fdb44b;
  border: 2px solid #fdb44b;
  color: #fff;
  font-weight: 700;
  padding: 12px 26px;
  transition: 0.5s all;
  border-radius: 12px;
}
.form__btn:hover {
  color: #fdb44b;
  background: none;
}
.form__btn:disabled {
  background: #ffcb83;
  border: 2px solid #ffcb83;
}
.form__btn:disabled:hover {
  color: #fff;
  cursor: no-drop;
}

.form_button {
  width: 200px;
  height: 40px;
  border-radius: 12px;
  background: #fdb44b;
  border: none;
  color: white;
  margin-top: 20px;
  font-size: 17px;
  transition: 0.5s all;
  border: 2px solid #fdb44b;
}
.form_button:hover {
  color: #000000;
  background: white;
}

.generalSym {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 7px;
}
.generalSym > h2 {
  font-size: 38px;
  font-weight: 500;
}
.generalSym > ins {
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 2px;
}
.generalSym > b {
  font-size: 24px;
}

.drop-down {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.drop-down__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  border-radius: 0.75rem;
  width: 100%;
  color: #fff;
  background: #fdb44b;
  text-align: center;
  cursor: pointer;
  padding: 0.75rem;
}
.drop-down__select h3 {
  font-size: 22px;
}
.drop-down__select img {
  filter: invert(1);
  width: 25px;
  transition: 0.5s all;
  height: 25px;
}
.drop-down__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  color: white;
  top: 39px;
  z-index: 9;
  height: 0;
  transition: 0.5s all;
  overflow-y: scroll;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #fdb44b;
}
.drop-down__list button {
  font-weight: 700;
  border-bottom: 2px solid #fff !important;
  width: 100%;
  padding: 20px 10px;
  font-size: 24px;
  border: none;
  font-size: 18px;
  background: none;
}
.drop-down__list button:last-child {
  border: none !important;
}
.drop-down__list::-webkit-scrollbar {
  width: 10px;
}
.drop-down__list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.drop-down__list::-webkit-scrollbar-thumb {
  background: #84a1ff;
  border-radius: 50px;
}
.drop-down__active {
  transform: rotate(180deg);
}
.drop-down__active-list {
  height: 526px;
  border-top: none !important;
}

.drop-down__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.drop-down__input > input {
  transform: scale(2);
  opacity: 0;
  position: absolute;
}
.drop-down__input > input:checked + label::before {
  background: url("../img/done.svg") no-repeat;
  background-size: cover;
  animation: myAnim 0.5s ease-in-out 0s 1 normal forwards;
}
.drop-down__input > input:disabled + label::before {
  background: #eeeeee;
  border: 2px solid #c4c4c4;
}

.drop-dow__cont {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  flex-direction: column;
  border-radius: 12px;
}

.drop-down__input label {
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drop-down__input label::before {
  border-radius: 0.3125rem;
  content: "";
  order: 2;
  transition: 0.2s all;
  padding: 12px;
  width: 5px;
  height: 5px;
  border: 2px solid #fdb44b;
  left: 0;
  right: 0;
  top: 100px;
}

.input__drop-down {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 12px;
  padding: 20px;
  outline: none;
  color: #84a1ff;
}
.input__drop-down::-webkit-outer-spin-button, .input__drop-down::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  user-select: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.content {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 450px;
  margin: auto;
  gap: 1.875rem;
  padding: 25px;
  border-radius: 12px;
  background: #5167b0;
  box-shadow: 0px 7px 16px 0px rgba(34, 60, 80, 0.45);
}

button {
  cursor: pointer;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  width: 100%;
}

.end-site__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 4.25rem;
}

.line {
  border: none;
  background: #fff;
  width: 100%;
  height: 2px;
}

/*# sourceMappingURL=style.css.map */
