.checkbox_block {
  display: grid;
  grid-template-columns: 1fr 100px 100px 100px 100px 120px;
}

.checkbox_title {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_check {
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
  margin-top: 20%;
}

.title_checkbox {
  width: 100px;
}

.modal {
  position: fixed;
  top: -1920px;
  z-index: 9;
  color: #fff;
  background: rgba(0, 0, 0, 0.5803921569);
  width: 100%;
  transition: 0.5s all;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 50px;
  height: 100vh;
}
.modal__clouse {
  font-size: 120px;
  border: none;
  position: absolute;
  top: 25px;
  right: 25px;
  background: none;
}
.modal__form {
  position: absolute;
  left: -250rem;
  transition: 0.5s all;
}

.show {
  top: 0;
}

.show-form {
  left: 0;
}

.condition {
  position: absolute;
  top: 25px;
  right: 25px;
}
.condition__btn {
  border: none;
  background: #fdb44b;
  border: 2px solid #fdb44b;
  color: #fff;
  font-weight: 700;
  padding: 12px 26px;
  transition: 0.5s all;
  border-radius: 12px;
}
.condition__btn:hover {
  color: #fdb44b;
  background: none;
}

.form {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 50%;
  margin: auto;
  padding: 20px;
}
.form__field {
  width: 100%;
}
.form__field > input {
  padding: 12px;
  border: 2px solid #25a3f7;
  border-radius: 12px;
  outline: none;
  width: 100%;
  appearance: none;
}
.form__field > input::-webkit-outer-spin-button, .form__field > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.form__field > input:checked {
  background: #000;
}
.form__field > label {
  position: absolute;
  left: 12px;
  top: 12px;
}
.form > div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.form__btn {
  border: none;
  background: #fdb44b;
  border: 2px solid #fdb44b;
  color: #fff;
  font-weight: 700;
  padding: 12px 26px;
  transition: 0.5s all;
  border-radius: 12px;
}
.form__btn:hover {
  color: #fdb44b;
  background: none;
}

.drop-down {
  display: flex;
  align-items: center;
  position: relative;
}
.drop-down__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  border: 0.125rem solid #25a3f7;
  border-radius: 0.75rem;
  color: #fff;
  background: rgba(37, 163, 247, 0.631372549);
  text-align: center;
  cursor: pointer;
  padding: 0.75rem;
  width: 320px;
}
.drop-down__select img {
  filter: invert(1);
  width: 35px;
  transition: 0.5s all;
  height: 35px;
}
.drop-down__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3125rem;
  width: 100%;
  position: absolute;
  color: #fff;
  top: 3.3125rem;
  height: 0;
  transition: 0.5s all;
  overflow-y: scroll;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #71c3fa;
}
.drop-down__list button {
  font-weight: 700;
  width: 100%;
  padding: 0.75rem;
  border: none;
  font-size: 18px;
  background: none;
}
.drop-down__list::-webkit-scrollbar {
  width: 10px;
}
.drop-down__list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.drop-down__list::-webkit-scrollbar-thumb {
  background: #fdb44b;
  border-radius: 50px;
}
.drop-down__list::-webkit-scrollbar-thumb:hover {
  background: #fdb44b;
}
.drop-down__active {
  transform: rotate(180deg);
}
.drop-down__active-list {
  height: 20rem;
  border-top: none !important;
  border: 2px solid #25a3f7;
}

.drop-down__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}
.drop-down__input > input {
  transform: scale(2);
  opacity: 0;
}
.drop-down__input > input:checked + label::before {
  background: url("../img/done.png") no-repeat;
  background-size: cover;
}

.drop-dow__cont {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.drop-down__input label {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.drop-down__input label::before {
  border-radius: 0.3125rem;
  content: "";
  transition: 0.2s all;
  padding: 12px;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #fdb44b;
  left: 0;
  right: 0;
  top: 120px;
  margin: auto;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  user-select: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  cursor: pointer;
}

.orders {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
