.checkbox_block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ; 
    /* grid-template-rows: 1fr 1fr 1fr; */
    
}
.checkbox_title{ 
    /* width: 100px; */
    height: 50px;
    border: 1px solid black;
}