.checkbox_block{
 display: grid;
 grid-template-columns:1fr 100px 100px 100px 100px 120px  ;
 
}
.checkbox_title{ 
 height: 70px;
 display: flex;
 align-items: center;
 justify-content: center;
    
  
}
.input_check{
width: 25px;
height: 25px;
display: block;
margin: auto;
margin-top: 20%;


}
.title_checkbox{
width: 100px;
}
