.condition {
  position: absolute;
  top: 25px;
  right: 25px;
  &__btn {
    border: none;
    background: #000;
    border: 2px solid #000;
    color: #fff;
    padding: 12px 26px;
    transition: 0.5s all;
    border-radius: 12px;
    &:hover {
      color: #000;
      background: none;
    }
  }
}
