.drop-down {
  display: flex;
  align-items: flex-start;
  position: relative;
  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    border-radius: 0.75rem;
    width: 100%;
    color: #fff;
    background: #fdb44b;
    text-align: center;
    cursor: pointer;
    padding: 0.75rem;
    h3 {
      font-size: 22px;
    }
    img {
      filter: invert(1);
      width: 25px;
      transition: 0.5s all;
      height: 25px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    color: #fff;
    top: 39px;
    z-index: 9;
    height: 0;
    transition: 0.5s all;
    overflow-y: scroll;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #fdb44b;
    button {
      font-weight: 700;
      border-bottom: 2px solid #fff !important;
      width: 100%;
      padding: 20px 10px;
      font-size: 24px;
      border: none;
      font-size: 18px;
      background: none;
      &:last-child {
        border: none !important;
      }
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #84a1ff;
      border-radius: 50px;
    }
  }
  &__active {
    transform: rotate(180deg);
  }
  &__active-list {
    height: 526px;
    border-top: none !important;
  }
}

.drop-down__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  > input {
    transform: scale(2);
    opacity: 0;
    position: absolute;
    &:checked {
      + label::before {
        background: url("../img/done.svg") no-repeat;
        background-size: cover;
        animation: myAnim 0.5s ease-in-out 0s 1 normal forwards;
      }
    }
    &:disabled {
      + label::before {
        background: #eeeeee;
        border: 2px solid #c4c4c4;
      }
    }
  }
}
.drop-dow__cont {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  flex-direction: column;
  border-radius: 12px;
}
.drop-down__input label {
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drop-down__input label::before {
  border-radius: 0.3125rem;
  content: "";
  order: 2;
  transition: 0.2s all;
  padding: 12px;
  width: 5px;
  height: 5px;
  border: 2px solid #fdb44b;
  left: 0;
  right: 0;
  top: 100px;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
