.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding: 200px;
  &__field {
    width: 100%;
    > input {
      padding: 12px;
      border: 2px solid #25a3f7;
      border-radius: 12px;
      outline: none;
      margin-top: 20px;
      width: 100%;
      appearance: none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      &:checked {
        background: #000;
      }
    }
    > label {
      position: absolute;
      left: 12px;
      top: 12px;
    }
  }
  > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    border: none;
    background: #fdb44b;
    border: 2px solid #fdb44b;
    color: #fff;
    font-weight: 700;
    padding: 12px 26px;
    transition: 0.5s all;
    border-radius: 12px;
    &:hover {
      color: #fdb44b;
      background: none;
    }
    &:disabled {
      background: #ffcb83;
      border: 2px solid #ffcb83;
      &:hover {
        color: #fff;
        cursor: no-drop;
      }
    }
  }
}
.form_button {
  width: 200px;
  height: 40px;
  border-radius: 12px;
  background: #fdb44b;
  border: none;
  color: white;
  margin-top: 20px;
  font-size: 17px;
  transition: 0.5s all;
  border: 2px solid #fdb44b;
  &:hover {
    color: #000000;
    background: white;
  }
}
