.generalSym {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 7px;
  > h2 {
    font-size: 38px;
    font-weight: 500;
  }
  > ins {
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 2px;
  }
  > b {
    font-size: 24px;
  }
}
